<div class="clearfix"><a name="about"></a></div>
<section>
  <div class="container">
  <div class="row">
      <div class="col-sm col-md-8" style="padding: 4% 4% 4% 4%;">
      <h2> About me </h2>
      <p style="text-indent: 6%;">
        Hi, my name is Daniel. I am currently an undergraduate software engineer studying at the University of Queensland, Australia.
        I enjoy building everything from small business sites to artificial intelligence. Feel free to have a look at some of the cool
        projects I have work on below.
      </p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex">
      <div class="align-self-center mx-auto">
        <h3 class="side-image icons">👨‍💻</h3>
      </div>
    </div>
  </div>
</div>
</section>
<div class="clearfix"></div>
