<div class="container">
    <div class="row">
      	<div class="col-sm-4 hidden-xs">
        	<h3 class="info-hd">{{ site.title }}</h3>
	        <ul class="list-unstyled info-list m-sm-0">
	          <li><a href="/about">About</a></li>
	          <li><a href="#">Link</a></li>
	          <li><a href="/contact">Contact</a></li>
	        </ul>
      	</div>
	  	<div class="col-sm-4 hidden-xs">
	        <h3 class="info-hd">Heading</h3>
	        <ul class="list-unstyled info-list m-sm-0">
	          	<li><a href="#">Link</a></li>
		        <li><a href="#">Link</a></li>
		        <li><a href="#">Link</a></li>
		        <li><a href="#">Link</a></li>
	      	</ul>
	    </div>
	  	<div class="col-sm-4">
	        <h5>
	        	<i class="fa fa-fw fa-phone mr-1"></i>
	        	<span>{{ site.phone }}</span>
	        </h5>
	        <a href="mailto:{{site.email}}"><h5>
	        	<i class="fa fa-fw fa-envelope mr-1"></i>
	        	<span>{{ site.email }}</span>
	        </h5></a>
	    </div>
	</div>
</div>