<div name="portfolio" class="clearfix"><a name="portfolio"></a></div>
<section>
  <h2 style="padding-bottom: 1rem;">Portfolio</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card border-0">
          <h3 class="icons">🏏</h3>
          <div class="card-body">
            <h5 class="card-title">UQ Advanced Engineering</h5>
            <p class="card-text">Built the electrical and digital components to assist in automating the workflow of mechanical engineering tasks.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-0">
          <h3 class="icons">🦆</h3>
          <div class="card-body">
            <h5 class="card-title">Dux-Com</h5>
            <p class="card-text">Implemented the skins and achievement system for the open-source game 'DuxCom'</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-0">
          <h3 class="icons">⏰</h3>
          <div class="card-body">
            <h5 class="card-title">Analog clock</h5>
            <p class="card-text">Implemented a clock interface that communicated with a microcontroller over an infrared link.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-0">
          <h3 class="icons">🤖</h3>
          <div class="card-body">
            <h5 class="card-title">Artifical intelligence</h5>
            <p class="card-text">Wrote AI to manage stock for a simple business model, created a google maps directions clone, and implemented motion-planning for an obsticale course.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
