<section>
  <div class="jumbotron-fluid bg-black py-0">
      <div class="row mx-0">
        <div class="col-12 col-md-6">
          <div style="display: inline-block;" class="type-container pl-2">
          <h1 id="type-code" class="display-5">Daniel Gormly</h1>
          <p id="type-code"><i class="lead">Undergraduate Software Engineer</i><span id="blink" class="h5">|</span></p>
        </div>
      </div>
        <div class="col-12 col-md-6">
            <img id="portrait-image" class="img-fluid col-md-8" src="/assets/images/profile-pic2.png" alt="Portrait" style="padding-top: 10%;">
        </div>
      </div>
</div>
</section>
